@page
@model AplicacionWeb720.Pages.Participantes.IndexModel
@{
}

<br />
<h2>Participantes</h2>
<a class='btn btn-primary btn-sm' href='/Participantes/Crear'>Nuevo Participante</a>

<table class="table">
    <thead>
        <tr>
            <th>Dorsal</th>
            <th>Participante</th>
            <th>Correo</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>